// @@@@@@@@@@@@@
$title-color: #006BDB;
$desc-color: #bebebee3;
$body-bg: #0c0f1d;

// @@@@@@@@@@@@
$theme-color: #006BDB;
$theme-red : #d70027;
$alpa-color: #7271718a;
$menu-bg: #171e36;
$section-bg:#2027426e;
$section-bg-3:#f5faff;
$bg-color-2:#f2f6f9;
$section-bg-2: #12182f;
$btn-color: #6565ff;
$btn-color-2: #d70027;
$black-color: #000;
$border-color: #e5ecf6;
$ash-color: #5e5e5e;
$gray:#9c9a9a;
$white-color: #fff;
$shadow-color: #ececec;
$facebook: #4371dd;
$twitter: #429cd6;
$linked-in: #0d77b7;
$google-plus: #df4b37;
$insta: #e02b34;
$dribble: #f13453;
$vimeo-v: #4813db;
$behance: #185fe4;


// @@@@@@@@@@@@@ font family
$font-family: 'Integral-CF', sans-serif;

// @@@@@@@@font size

$fs-base: 16px !default;
$fs-small:14px;

$fs-h1: 60px;
$fs-h2: 36px;
$fs-h3: 30px;
$fs-h4: 24px;
$fs-h5: 20px;
$fs-h6: 18px;

//  transition
$transition: all 0.3s linear;